.bg-button {
  background-color: rgb(95, 103, 141) !important;
  color: white !important;
}

.bg-button:hover {
  background-color: rgb(115, 125, 171) !important;
}
.bg-primary {
  background-color: rgb(33, 37, 52) !important;
}

body {
  background-color: rgb(23, 25, 36);
}


.snow-canvas{
  z-index: 0;
}

.app-root{
  position: relative;
  z-index: 1;
}
